Repository zapier/zapier-platform, pull requests merged in 2020-03, with the labels that each got.

#168 feat(legacy-scripting-runner): Add $.extend shim
  packages/legacy-scripting-runner/$.js
  packages/legacy-scripting-runner/test/example-app/index.js
  packages/legacy-scripting-runner/test/integration-test.js
Labels: backend, team-dev-platform

#179 Allow env variables containing equals
  packages/cli/src/oclif/commands/env/set.js
Labels: bug, cli

#162 Preserve values that also include empty curlies
  packages/core/src/tools/cleaner.js
  packages/core/test/create-request-client.js
Labels: bug, core
