Repository zapier/zapier-platform, pull requests merged in 2024-07, with the labels that each got.

#816 PDE-5159 feat(core) - Increase hydration payload limit
  packages/core/src/tools/wrap-hydrate.js
  packages/core/test/hydration.js
Labels: team-dev-platform

#818 PDE-4968 feat(schema-to-ts) - Introduce the Schema-to-TS compiler
  .github/workflows/ci.yaml
  .husky/pre-commit
  example-apps/typescript/package.json
  example-apps/typescript/tsconfig.json
  package.json
  packages/cli/src/generators/index.js
  packages/core/package.json
  packages/core/types/index.d.ts
  packages/core/types/index.test-d.ts
  packages/core/types/zapier.custom.d.ts
  packages/core/types/zapier.generated.d.ts
  schema-to-ts/.gitignore
  schema-to-ts/README.md
  schema-to-ts/package.json
  schema-to-ts/src/cli.ts
  schema-to-ts/src/comments.spec.ts
  schema-to-ts/src/comments.ts
  schema-to-ts/src/formatter.ts
  schema-to-ts/src/generation.ts
  schema-to-ts/src/main.ts
  schema-to-ts/src/precompile.ts
  schema-to-ts/src/transformers.ts
  schema-to-ts/src/types.ts
  schema-to-ts/src/utils.ts
  schema-to-ts/tsconfig.json
  schema-to-ts/yarn.lock
Labels: help wanted, schema, enhancement

#826 fix(core): Allow Async Middleware Functions Types
  packages/core/types/index.test-d.ts
  packages/core/types/zapier.custom.d.ts
Labels: core
